{% extends 'room/base.html' %}

{% block navbar %}
<button class="btn" onclick="window.location.href = '/room/{{room.id}}'">Room</button>
<button class="btn" onclick="window.location.href = '/room/{{room.id}}/add/search'">Add</button>
{% endblock %}

{% block body %}
<style>
  div {
    //outline: 1px solid black;
  }

  .item-label {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

</style>

<div id="success-alert" class="alert alert-success alert-dismissible fade show position-fixed top-0 translate-middle-x start-50 transl" role="alert" style="z-index: 9999">
  Successfully added SONG NAME to the queue.
  <button type="button" id="alert-close" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<script>
  setTimeout(function(){document.getElementById("alert-close").click()}, 2000);
</script>

{% csrf_token %}

<script>
  function add(id) {
    httpGetAsync(callback, id);
  }

  function callback(response) {
    // activate success/danger alert
    console.log(response);
  }

  function httpGetAsync(callback, id) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function () {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
    }
    xmlHttp.open("POST", window.location.href, true); // true for asynchronous 
    xmlHttp.setRequestHeader("Accept", "application/json")
    xmlHttp.setRequestHeader("Content-Type", 'application/x-www-form-urlencoded')
    xmlHttp.setRequestHeader("X-CSRFToken", document.querySelector('[name=csrfmiddlewaretoken]').value);
    var dict = {"add_id": id};
    xmlHttp.send("add_id=" + id);
  }
</script>

<div class="container w-50 mx-auto">
  <div class="row">
    <div class="nav justify-content-center">
      <li class="nav-item nav-link"><a>Search</a></li>
      <li class="nav-item nav-link"><a>Favorites</a></li>
      <li class="nav-item nav-link"><a>My Playlists</a></li>
      <li class="nav-item nav-link"><a>Recently Played</a></li>
    </div>
  </div>
  <div class="row w-75 mx-auto justify-content-center">
    <form action="/room/{{room.id}}/add/search" method="post">
      {% csrf_token %}
        <div class="input-group mx-auto d-flex">
          <div class="form-outline flex-fill">
            <input type="text" id="search1" name="search" placeholder="Search" class="form-control" value="{{query}}"/>
          </div>
          <button type="submit" class="btn btn-primary" name="submit">
            <i class="bi-search"></i>
          </button>
        </div>
    </form>
  </div>
  <div class="row p-2 accordion" id="results">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#songs">
          Songs
        </button>
      </h2>
      <div id="songs" class="accordion-collapse collapse show">
        <ul class="list-unstyled p-1 overflow-auto" style="max-height: 300px;">
          {% for r in results.tracks %}
          <li><div class="d-flex flex-row rounded-3" style="outline: 1px solid black;">
            <button type="button" class="btn" onclick="add('{{r.id}}')"><i class="bi-plus-lg"></i></button>
            <div class="d-flex align-items-center"><img src="{{r.img}}" height=64 width=64></div>
            <div class="flex-column p-2 flex-fill overflow-hidden">
              <div class="overflow-hidden item-label">{{  r.name }}</div>
              <div class="overflow-hidden item-label">{{  r.artists }}</div>
              <div class="overflow-hidden item-label">{{  r.desc }}</div>
            </div>
            <button type="button" class="btn"><i class="bi-heart" id="heart-icon"></i></button>
          </div></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#albums">
          Albums
        </button>
      </h2>
      <div id="albums" class="accordion-collapse collapse show">
        <ul class="list-unstyled p-1 overflow-auto" style="max-height: 300px;">
          {% for r in results.albums %}
          <li class="accordion-item">
            <div class="accordion-header p-0">
              <div class="d-flex flex-row rounded-3 p-1" style="outline: 1px solid black;">
                <div class="accordion-button collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#albumCollapse{{forloop.counter0}}">
                  <button type="button" class="btn" onclick="add('{{r.id}}')"><i class="bi-plus-lg"></i></button>
                  <div class="d-flex align-items-center"><img src="{{r.img}}" height=64 width=64></div>
                  <div class="flex-column p-2 flex-fill overflow-hidden">
                    <div class="overflow-hidden item-label">{{  r.name }}</div>
                    <div class="overflow-hidden item-label">{{  r.artists }}</div>
                    <div class="overflow-hidden item-label">{{  r.desc }}</div>
                  </div>
                  <button type="button" class="btn"><i class="bi-heart"></i></button>
                </div>
              </div>
              <div id="albumCollapse{{forloop.counter0}}" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <ul class="list-unstyled p-1 overflow-auto" style="max-height: 300px;">
                    {% for r1 in r.nested %}
                    <li><div class="d-flex flex-row rounded-3" style="outline: 1px solid black;">
                      <button type="button" class="btn" onclick="add('{{r1.id}}')"><i class="bi-plus-lg"></i></button>
                      <div class="d-flex align-items-center"><img src="{{r1.img}}" height=64 width=64></div>
                      <div class="flex-column p-2 flex-fill overflow-hidden">
                        <div class="overflow-hidden item-label">{{  r1.name }}</div>
                        <div class="overflow-hidden item-label">{{  r1.artists }}</div>
                        <div class="overflow-hidden item-label">{{  r1.desc }}</div>
                      </div>
                      <button type="button" class="btn"><i class="bi-heart" id="heart-icon"></i></button>
                    </div></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#playlists">
          Playlists
        </button>
      </h2>
      <div id="playlists" class="accordion-collapse collapse show">
        <ul class="list-unstyled p-1 overflow-auto" style="max-height: 300px;">
          {% for r in results.playlists %}
          <li class="accordion-item">
            <div class="accordion-header p-0">
              <div class="d-flex flex-row rounded-3 p-1" style="outline: 1px solid black;">
                <div class="accordion-button collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#playlistCollapse{{forloop.counter0}}">
                  <button type="button" class="btn" onclick="add('{{r.id}}')"><i class="bi-plus-lg"></i></button>
                  <div class="d-flex align-items-center"><img src="{{r.img}}" height=64 width=64></div>
                  <div class="flex-column p-2 flex-fill overflow-hidden">
                    <div class="overflow-hidden item-label">{{  r.name }}</div>
                    <div class="overflow-hidden item-label">{{  r.artists }}</div>
                    <div class="overflow-hidden item-label">{{  r.desc }}</div>
                  </div>
                  <button type="button" class="btn"><i class="bi-heart"></i></button>
                </div>
              </div>
              <div id="playlistCollapse{{forloop.counter0}}" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <ul class="list-unstyled p-1 overflow-auto" style="max-height: 300px;">
                    {% for r1 in r.nested %}
                    <li><div class="d-flex flex-row rounded-3" style="outline: 1px solid black;">
                      <button type="button" class="btn" onclick="add('{{r1.id}}')"><i class="bi-plus-lg"></i></button>
                      <div class="d-flex align-items-center"><img src="{{r1.img}}" height=64 width=64></div>
                      <div class="flex-column p-2 flex-fill overflow-hidden">
                        <div class="overflow-hidden item-label">{{  r1.name }}</div>
                        <div class="overflow-hidden item-label">{{  r1.artists }}</div>
                        <div class="overflow-hidden item-label">{{  r1.desc }}</div>
                      </div>
                      <button type="button" class="btn"><i class="bi-heart" id="heart-icon"></i></button>
                    </div></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>




{% endblock %}