{% extends 'base.html' %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <span class="nav-item" style="height: 32px;">Logo Here</span>
    

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% block navbar %}
        {% endblock %}  
      </ul>
    </div>
    <div class="nav-item dropdown text-end">
      <a href="#" class="text-secondary nav-link d-block text-decoration-none dropdown-toggle mx-2"data-bs-toggle="dropdown">
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        <span class="">Username</span>
      </a>
      <ul class="dropdown-menu text-small">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>

{% endblock %}

{% block styles %}
<style>
  .item-label {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
</style>
{% endblock %}