{% extends 'room/base.html' %}

{% block title %} {{user.username}}'s Room
{% endblock %}

{% block navbar %}
<button class="btn" onclick="window.location.href = '/room/{{room.id}}'">Room</button>
<button class="btn" onclick="window.location.href = '/room/{{room.id}}/add/search'">Add</button>
{% endblock %}

{% block body %}
<style>
    div {
        color: white;
        //outline: 1px solid black;
    }
    body {
        background-color: black;
    }

    .btn {
        color: white;
        background-color: #1db954;
        border-color: transparent;
    }
</style>
<form action="/room/{{room.id}}/" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="w-50 mx-auto p-1 rounded" style="outline: 1px solid black; background-color: #353535">
                <div class="row">
                    <div class="col-md-auto">
                        <img src="{{current_playback.item.album.images.1.url}}" width="200" height="200">
                    </div>
                    <div class="col d-flex flex-column">
                        <div class="p-2 flex-fill">
                            {{current_playback.item.name}}
                        </div>
                        <div class="p-2 flex-fill">
                            {% for artist in current_playback.item.artists%}
                                {{artist.name}}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                        <div class="p-2 flex-fill">
                            <div class="col-6 mx-auto text-center">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-outline-secondary" name="rewind">
                                        <i class="bi-skip-backward-fill"></i>
                                        <span class="visually-hidden">Rewind</span>
                                    </button>
                                    <button type="submit" class="btn btn-outline-secondary" name="pause">
                                        <i class="bi-pause-fill"></i>
                                        <span class="visually-hidden">Pause</span>
                                    </button>
                                    <button type="submit" class="btn btn-outline-secondary" name="play">
                                        <i class="bi-play-fill"></i>
                                        <span class="visually-hidden">Play</span>
                                    </button>
                                    <button type="submit" class="btn btn-outline-secondary" name="skip">
                                        <i class="bi-skip-forward-fill"></i>
                                        <span class="visually-hidden">Skip</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress my-1">
                    <div class="progress-bar" id="progress" role="progressbar" style="width: calc({{current_playback.progress_ms}}/{{current_playback.item.duration_ms}} * 100%);" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                
                <div class="row p-2">
                    <button type="button" class="btn rounded-pill col mx-2" onclick="deleteQueue()">Clear Queue</button>
                    <button type="button" class="btn rounded-pill col mx-2" onclick="shuffleQueue()">Shuffle</button>
                </div>

                <ul id="simpleList" class="list-group">
                    {% for r in room.queue %}
                    <li class="list-group-item" data-id="{{r.id}}"><div class="d-flex flex-row rounded-3" style="outline: 1px solid black;">
                        <button type="button" class="btn" onclick="add('{{r.id}}')"><i class="bi-chevron-double-up"></i></button>
                        <div class="d-flex align-items-center"><img src="{{r.img}}" height=64 width=64></div>
                        <div class="flex-column p-2 flex-fill overflow-hidden">
                        <div class="overflow-hidden item-label">{{  r.name }}</div>
                        <div class="overflow-hidden item-label">{{  r.artists }}</div>
                        <div class="overflow-hidden item-label">{{  r.desc }}</div>
                        </div>
                        <button type="button" class="btn"><i class="bi-x"></i></button>
                    </div></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-outline-secondary" name="sync">Sync everyone with me</button>
    
    <button type="submit" class="btn btn-outline-secondary" name="leave">Leave Room</button>
</form>

<!-- Simple List -->
<style>
    .list-group-item {
        color: white;
        background-color: black;
    }
</style>

<script src="http://SortableJS.github.io/Sortable/Sortable.js"></script>


<script>
    // Simple list
    
</script>

{% csrf_token %}
<script>
    window.onload = initProgress;
    var intervalId = null;
    function initProgress() {
        document.getElementById("progress").style="width: " + {{current_playback.progress_ms|default:0}}/{{current_playback.item.duration_ms|default:1}} * 100 + "%";
        if ("{{current_playback.is_playing}}" == "True") {
            updateProgress();
        }
    }
    function tick() {
        var bar = document.getElementById("progress");
        if (parseFloat(bar.style.width) <= 100.0) {
            bar.style.width = (parseFloat(bar.style.width) + 0.1) + "%";
        } else {
            clearInterval(intervalId);
            location.reload();
        }
    }
    function updateProgress() {
        intervalId = setInterval(tick, {{current_playback.item.duration_ms|default:1}}/1000);
    }
    
    function setCurrent(txt) {
        document.getElementById('currentPlaying').innerText = txt['item']['name'] + " @ " + txt['progress_ms'] / 1000 + 'seconds';
    }
    function httpGetAsync(callback, data) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("POST", window.location.href, true); // true for asynchronous 
        xmlHttp.setRequestHeader("Accept", "application/json")
        xmlHttp.setRequestHeader("Content-Type", 'application/x-www-form-urlencoded')
        xmlHttp.setRequestHeader("X-CSRFToken", document.querySelector('[name=csrfmiddlewaretoken]').value);
        xmlHttp.send(data);
    }

    var queue = Sortable.create(simpleList, { /* options */ });
    var rawQueue = {{queue|safe}};

    function getQueue() {
        idls = queue.toArray();
        queuern = [];
        for (var i = 0; i < idls.length; i ++) {
            queuern.push(rawQueue.find(x => x['id'] == idls[i]));
        }
        return queuern
    }

    /* Randomize array in-place using Durstenfeld shuffle algorithm */
    function shuffleQueue() {
        array = queue.toArray();
        for (var i = array.length - 1; i > 0; i--) {
            var j = Math.floor(Math.random() * (i + 1));
            var temp = array[i];
            array[i] = array[j];
            array[j] = temp;
        }
        queue.sort(array, true);
    }

    function deleteQueue() {
        array = queue.toArray();
        for (var i = 0; i < array.length; i ++) {
            document.querySelector("[data-id='" + array[i] + "']").remove();
        }
        pushQueue();
    }

    function pushQueue() {
        httpGetAsync(function(foo){}, "push-queue=" + JSON.stringify(getQueue()));
    }

    function fetchQueue() {
        // maybe add a way to resync the queue without reloading (would have to create all li's from scratch)
        location.reload();
    }

    

</script>

{% endblock %}