{% extends 'base.html' %}

{% block title %} {{user.username}}'s Room
{% endblock %}

{% block body %}
{{room.id}}
<p>leaving button</p>
<span>Host Playing: </span>
<p id='currentPlaying'>{{current_playback.item.name}}</p>
<form action="/room/{{room.id}}/" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-secondary" name="sync">Sync everyone with me</button>
    <div class="btn-group">
        <button type="submit" class="btn btn-outline-secondary" name="pause">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause-fill" viewBox="0 0 16 16">
                <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"/>
            </svg>
            <span class="visually-hidden">Pause</span>
        </button>
        <button type="submit" class="btn btn-outline-secondary" name="play">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
            </svg>
          <span class="visually-hidden">Play</span>
        </button>
    </div>
    <button type="submit" class="btn btn-outline-secondary" name="leave">Leave Room</button>
</form>


<script>
    function httpGet()
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "https://api.spotify.com/v1/me/player/currently-playing", false ); // false for synchronous request
        xmlHttp.setRequestHeader("Accept", "application/json")
        xmlHttp.setRequestHeader("Content-Type", "application/json")
        xmlHttp.setRequestHeader("Authorization", "Bearer BQBdX9jHyMPWkYYQB9in3xC0JPbNf6MEjp6j9n5-lCPd-MP0T83ALLqVDTr7CogaBnRdN8eWDk0hnEVkKEbaPCT7_tT-fOUKh2DSEOBkDoUxvgDEJaBzbjJvh71ZwyTnK1aenXjkYHloM5vHuSP5EI7zyfvxWHesupZYHBFx_OBj")
        xmlHttp.send( null );
        return xmlHttp.response;
    }
    function setCurrent(txt) {
        document.getElementById('currentPlaying').innerText = txt['item']['name'] + " @ " + txt['progress_ms']/1000 + 'seconds';
    }
    function httpGetAsync(callback)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() { 
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(JSON.parse(this.responseText));
        }
        xmlHttp.open("GET", "https://api.spotify.com/v1/me/player/currently-playing", true); // true for asynchronous 
        xmlHttp.setRequestHeader("Accept", "application/json")
        xmlHttp.setRequestHeader("Content-Type", "application/json")
        xmlHttp.setRequestHeader("Authorization", "Bearer BQBdX9jHyMPWkYYQB9in3xC0JPbNf6MEjp6j9n5-lCPd-MP0T83ALLqVDTr7CogaBnRdN8eWDk0hnEVkKEbaPCT7_tT-fOUKh2DSEOBkDoUxvgDEJaBzbjJvh71ZwyTnK1aenXjkYHloM5vHuSP5EI7zyfvxWHesupZYHBFx_OBj")
        
        xmlHttp.send(null);
    }
    function doagain() {
        httpGetAsync(setCurrent);
        setTimeout(doagain, 5000);
    }
    // doagain();

</script>

{% endblock %}